.header {
  background-color: rgb(38, 40, 53);
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid #676978;
  margin-bottom: 20px;
}

.contacts_title {
  font-size: 24px;
  margin: 1.5rem 0;
}
